$font-family: 'Rubik', sans-serif;

$color-primary: #25d06f;
$color-secondary: #04b2e0;
$color-tertiary: #10506e;
$color-tertiary-dark: #0a374b;
$color-warning: #ff6565;
$color-grey: #bcc3c8;
$color-font: #333b3f;
